<%- include("header") -%>

<body>
  <div class="box" id="heading">
    <h1><%=listTitle%></h1>

  </div>
  <div class="box">

<form action="/delete" method="post" >


      <% nextItem.forEach(function(item){ %>
        <div class="item">
          <input type="checkbox" name="checkedItem" value="<%=item.id%>" onchange="this.form.submit()">
            <p><%= item.name %> </p>

        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
        <%  }) %>
        </form>



      <form class="item" action="/" method="post">
        <input type="text" name="extra" placeholder="Add Items" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle%>">+</button>

      </form>


  </div>



  <!-- <p>bummer! go to work</p> -->

</body>

<%- include("footer") -%>
